.quick-links {
    padding: 0px 15px;
}

.quick-links.active {
    font-weight: bold;
}

.search-bar {
    font-size: 0.8rem;
}

.search-bar-container {
position: relative;
}

.search-icon, .close-icon {
    position: absolute;
    top: 7px;
    left: 94%;
    font-size: 0.7rem;
}

.close-icon {
    cursor: pointer;
    position: absolute;
    top: 6px;
    left: 94%;
    font-size: 0.8rem;
}

.brand-name {
    font-weight: 800;
}
.need-color {
    color: #ff00eb;
}