.container {
    padding-top: 15px;
    padding-bottom: 30px;
}
.product-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
}

.product-card {
    display: flex;
    flex-direction: column;
    width: calc(25% - 20px);
    margin-bottom: 20px;
    margin-left: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    position: relative;
}

.product-image {
    height: 70%;
    width: 100%;
    object-fit: scale-down;
    max-height: 150px;
}

.product-title {
    font-weight: bold;
}
.product-details {
    flex-grow: 1;
    padding: 0 10px;
}

.product-description {
    font-size: 12px;;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.discount-price {
    font-weight: bold;
}

.actual-price {
    font-size: 12px;
    text-decoration: line-through;
}
.rating-icon {
    width: fit-content;
    padding: 0px 2px 3px 4px;
    border-radius: 6px;
    line-height: 1.25;
}

.rating {
    font-size: 12px;
}

.product-stock {
    font-size: 12px;
    color: #d50000;
}

.pagination {
    display: flex;
    justify-content: end;
    line-height: 1;
}

.page-item > .page-link {
    font-weight: bold;
    background-color: #ccc;
    color: #000000;
}

.page-item > .page-link.current-page {
    font-weight: bold;
    background-color: black;
    color: #ccc;
}