
.product-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
}

.product-card {
    display: flex;
    flex-direction: column;
    width: calc(25% - 20px);
    margin-bottom: 20px;
    margin-left: 13px;
    border: 1px solid #ccc;
    padding: 10px;
    position: relative;
    border-radius: 5px;
}

.product-image {
    height: 70%;
    width: 100%;
    object-fit: scale-down;
    max-height: 150px;
}

.product-title {
    font-weight: bold;
}
.product-details {
    flex-grow: 1;
    padding: 0 10px;
}

.product-description {
    font-size: 0.7rem;;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 35px;
}

.discount-price {
    font-weight: bold;
}

.actual-price {
    font-size: 0.7rem;
    text-decoration: line-through;
}
.rating-icon {
    width: fit-content;
    padding: 0px 2px 3px 4px;
    border-radius: 6px;
    line-height: 1.25;
}

.rating {
    font-size: 0.7rem;
}

.product-stock {
    font-size: 0.8rem;
    color: #d50000;
}